<% content_for(:title, "About") %>

<%= render(layout: "layout", locals: { wrapper: true, sidebar: false, hide_breadcrumbs: false }) do %>

    <h2 class="pb-3">Octopath Notebook</h2>

    <hr/>

    <h2 class="pb-3">Powered by</h2>

    <ul>
        <li>
            Icons provided by <a href="https://materialdesignicons.com/">Material Design Icons</a>.
        </li>
        <li>
            <a href="https://rubyonrails.org/">Ruby on Rails</a>
        </li>
        <li>
            <a href="https://github.com/TrestleAdmin/trestle">Trestle</a>
        </li>
    </ul>

<% end %>
