<% content_for(:title, "About") %>

<%= render(layout: "layout", locals: { wrapper: true, sidebar: false, hide_breadcrumbs: false }) do %>

    <h2 class="pb-3">Octopath Notebook</h2>

    <hr/>

    <h2 class="pb-3">Powered by</h2>

    <ul>
        <li>
            Data provided by:
            <ul>
                <li>
                    <a href="http://www.octopathtravelmap.com/" target="_blank" rel="noopener noreferrer">Octopath Traveler Map</a>
                </li>
                <li>
                    <a href="https://octopathtraveler.fandom.com/wiki/Octopath_Traveler_Wiki" target="_blank" rel="noopener noreferrer">The Octopath Traveler Wiki</a>
                </li>
            </ul>
        </li>
        <li>
            Icons provided by:
            <ul>
                <li>
                    <a href="https://materialdesignicons.com/" target="_blank" rel="noopener noreferrer">Material Design Icons</a>
                </li>
                <li>
                    <a href="https://nagoshiashumari.github.io/Rpg-Awesome/" target="_blank" rel="noopener noreferrer">RPG-Awesome</a>
                </li>
            </ul>
        </li>
        <li>
            Code provided by:
            <ul>
                <li>
                    <a href="https://rubyonrails.org/" target="_blank" rel="noopener noreferrer">Ruby on Rails</a>
                </li>
                <li>
                    <a href="https://github.com/TrestleAdmin/trestle" target="_blank" rel="noopener noreferrer">Trestle</a>
                </li>
            </ul>
        </li>
    </ul>

<% end %>
