<% content_for(:title, "About") %>

<%= render(layout: "layout", locals: { wrapper: true, sidebar: false, hide_breadcrumbs: false }) do %>

    <h2 class="pb-3">Octopath Notebook</h2>

    <hr/>

    <h2 class="pb-3">Powered by</h2>

    <ul>
        <li>
            Data provided by:
            <ul>
                <li>
                    <a href="http://www.octopathtravelmap.com/">Octopath Traveler Map</a>
                </li>
                <li>
                    <a href="https://octopathtraveler.fandom.com/wiki/Octopath_Traveler_Wiki">The Octopath Traveler Wiki</a>
                </li>
            </ul>
        </li>
        <li>
            Icons provided by:
            <ul>
                <li>
                    <a href="https://materialdesignicons.com/">Material Design Icons</a>
                </li>
                <li>
                    <a href="https://nagoshiashumari.github.io/Rpg-Awesome/">RPG-Awesome</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="https://rubyonrails.org/">Ruby on Rails</a>
        </li>
        <li>
            <a href="https://github.com/TrestleAdmin/trestle">Trestle</a>
        </li>
    </ul>

<% end %>
